/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

@font-face {
	font-family: "IBMPlexMono";
	src: url("/fonts/bold/IBMPlexMono-Bold.woff2") format("woff2"),
		url("/fonts/bold/IBMPlexMono-Bold.woff") format("woff");
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	unicode-range: U+0025-00FF;
}

@font-face {
	font-family: "IBMPlexMono";
	src: url("/fonts/regular/IBMPlexMono-Regular.woff2") format("woff2"),
		url("/fonts/regular/IBMPlexMono-Regular.woff") format("woff");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	unicode-range: U+0025-00FF;
}

.page {
	--color-black: #120d10;
	--color-background: #f0cdc4;
	--color-white: #fcf0ed;
	--color-primary: #1a227d;
	--color-primary-dark: #10186b;
	--color-alternate: #c500cc;
	--color-link: rgba(167, 2, 106, 0.05);
	-webkit-text-size-adjust: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow-y: scroll;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	word-wrap: break-word;
	font-kerning: normal;
	font-feature-settings: "kern", "liga", "clig", "calt";
	background-color: var(--color-white);
	color: var(--color-black);
	background-color: var(--color-background);
	background-attachment: fixed;
	background-size: cover;
	line-height: 1.45em;
	font-family: "IBMPlexMono", "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
		monospace;
	font-weight: 400;
	display: -ms-grid;
	display: grid;
	grid-template-rows: 4rem 1fr 2rem;
	grid-gap: 2rem;
	min-height: 100vh;
}

.page h1,
.page h2,
.page h3,
.page h4,
.page h5,
.page h6 {
	font-family: inherit;
}

.header {
	width: 100%;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.header__container {
	--logo-size: 2.5rem;
	width: 100%;
	max-width: calc(100vw - 2rem);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.header__logo {
	width: var(--logo-size);
	height: var(--logo-size);
}

.header__title {
	font-size: 1.5rem;
	font-size: min(max(1.5rem, calc(12px + 1.3vw)), 1.8rem);
	text-align: left;
	margin: 0;
}

.header__container,
.main-content {
	--container-padding: 1.5rem;
	margin: 0 auto;
}

.main-content {
	width: 100%;
}

.page__subheading,
.page__title {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.page__title {
	--title-width: calc(100% - 2rem);
	--title-margin: 1.5rem;
	--title-font-size-min: 1.5rem;
	--title-font-size-preferred: calc(16px + 4.5vw);
	--title-font-size-max: 2.5rem;

	max-width: var(--title-width);
	padding: 0;
	margin: 0 auto var(--title-margin) auto;
	font-weight: 700;
	font-size: min(
		max(var(--title-font-size-min), var(--title-font-size-preferred)),
		var(--title-font-size-max)
	);
	line-height: 1.1;
}

.page__title__highlight {
	display: block;
	color: var(--color-primary-dark);
}

.page__subheading {
	--subheading-max-width: calc(100% - 3rem);
	--subheading-font-size-min: 1.25rem;
	--subheading-font-size-preferred: calc(12px + 0.78vw);
	--subheading-font-size-max: 1.5rem;

	max-width: var(--subheading-max-width);
	font-weight: 400;
	line-height: 1.618;
	font-size: min(
		max(var(--subheading-font-size-min), var(--subheading-font-size-preferred)),
		var(--subheading-font-size-max)
	);
}

.page__nav {
	--page-nav-margin: 1.5rem;
	max-width: var(--subheading-max-width);
	display: grid;
	grid-template-areas:
		"primary"
		"github"
		"npm";
	grid-gap: 1rem;
	margin-top: var(--page-nav-margin);
	padding: 1rem;
}

.link *:last-child,
.page__nav *:last-child {
	margin: 0;
}

.link {
	--link-height: 3rem;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	align-items: center;
	background-color: var(--color-link);
	border-radius: 0.375rem;
	color: var(--color-black);
	display: flex;
	flex-direction: row;
	font-size: 1.2rem;
	font-weight: 700;
	gap: 0.5rem;
	height: var(--link-height);
	justify-content: center;
	line-height: 1.2;
	min-width: 3rem;
	outline: none;
	padding-left: 40px;
	padding-right: 40px;
	position: relative;
	text-decoration-line: underline;
	text-decoration-style: dotted;
	transition: all 0.25s ease 0s;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;
	width: auto;
}

.link:focus,
.link:hover {
	background-color: var(--color-black);
	color: var(--color-white);
}

.link:focus .link__text,
.link:hover .link__text {
	box-shadow: 0px 3px 0px 0px currentColor;
}

.link[target="_blank"]:hover:before,
.link[target="_blank"]:focus:before {
	content: "";
	position: absolute;
	top: -1.25rem;
	right: -1.25rem;
	width: 1.5rem;
	height: 1.5rem;
	background-size: 1.5rem 1.5rem;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Ccircle cx='12' cy='12' r='12' fill='%23c500cc'/%3E%3Cpath fill='%23fff' d='M17.125 12.5h-.75a.375.375 0 0 0-.375.375V15.5H8.5V8h3.375a.375.375 0 0 0 .375-.375v-.75a.375.375 0 0 0-.375-.375h-3.75A1.125 1.125 0 0 0 7 7.625v8.25A1.125 1.125 0 0 0 8.125 17h8.25a1.125 1.125 0 0 0 1.125-1.125v-3a.375.375 0 0 0-.375-.375zM18.438 5h-3c-.501 0-.752.607-.399.96l.838.838-5.713 5.71a.56.56 0 0 0 0 .798l.531.53a.56.56 0 0 0 .797 0l5.71-5.711.837.836c.352.351.961.105.961-.399v-3A.563.563 0 0 0 18.437 5z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	z-index: 1;
}

.link:focus,
.link:hover {
	text-decoration: none;
}

.link:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	box-shadow: 0 0 0 3px var(--color-background), 0 0 0 6px var(--color-alternate);
	border-radius: inherit;
	transform: scale(1.25);
	opacity: 0;
}

.link:focus:after {
	transform: scale(1);
	opacity: 1;
}

.link:focus-visible {
	box-shadow: inset 0 0 0 2px hsla(0, 0%, 100%, 0.36);
}

.link__icon {
	display: flex;
	place-items: center;
}

.link--primary {
	background-color: var(--color-primary-dark);
	color: var(--color-white);
}

.footer {
	display: grid;
	place-items: center;
}

@media all and (min-width: 40rem) {
	.page {
		grid-template-rows: 6rem 1fr 2rem;
		grid-gap: 4rem;
	}

	.header__container {
		--logo-size: 3rem;
	}

	.header__title {
		font-size: 1.8rem;
		font-size: min(max(1.5rem, calc(12px + 1.3vw)), 1.8rem);
	}

	.page__title {
		--title-width: 20ch;
		--title-margin: 3rem;
		--title-font-size-min: 2.5rem;
		--title-font-size-preferred: calc(12px + 3.5vw);
		--title-font-size-max: 3.5rem;
	}

	.page__subheading {
		--subheading-max-width: 40ch;
		--subheading-font-size-min: 1.5rem;
		--subheading-font-size-preferred: calc(12px + 0.78vw);
		--subheading-font-size-max: 1.75rem;
	}

	.page__nav {
		--page-nav-margin: 2.5rem;

		grid-template-areas:
			"primary primary"
			"github npm";
		max-width: 56ch;
		margin-right: auto;
		margin-left: auto;
	}

	.link {
		--link-height: 4rem;
	}

	.github {
		grid-area: github;
	}

	.npm {
		grid-area: npm;
	}

	.link--primary {
		grid-area: primary;
	}
}

@media (prefers-reduced-motion: no-preference) {
	.link:after {
		-webkit-transition: all 128ms ease-out;
		transition: all 128ms ease-out;
	}
}
